body{
  background-color: rgb(128, 128, 128);
}
h1  {
      color: black;
      font-size: 40pt;
      font-weight: 100;
      text-decoration: wavy;
  }
td, th{
  border: 2px solid black;
  padding: 15px;

}
table{
border-spacing: 0px;
}
th{
background-color: darkslategrey;
font-size: 18px;
}
h2, h3, h4 {
  color: limegreen;
  font-size: 25pt;
  font-family: Arial, sans-serif;
}
img {
  width: auto;
  border-radius: 0cap;
  filter: none;
}
html {
  text-align: center;
}
/* Set the maximum width of the website */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Use a fluid layout */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

/* Set the width of each column */
.col {
  width: 100%;
  padding: 0 15px;
}

/* Use relative font sizes */
h1 {
  font-size: 2em;
}

p {
  font-size: 1em;
}

/* Use media queries to adjust the layout for different screen sizes */
@media screen and (min-width: 768px) {
  /* Adjust the layout for tablets and larger screens */
  .col {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  /* Adjust the layout for larger screens */
  .col {
    width: 33.333%;
  }
}
