body{
  background-color: rgb(128, 128, 128);
}
h1  {
      color: black;
      font-size: 40pt;
      font-weight: 100;
      text-decoration: wavy;
  }
td, th{
  border: 2px solid black;
  padding: 15px;

}
table{
border-spacing: 0px;
}
th{
background-color: darkslategrey;
font-size: 18px;
}
h2, h3, h4 {
  color: limegreen;
  font-size: 25pt;
  font-family: Arial, sans-serif;
}
img {
  width: auto;
  border-radius: 0cap;
  filter: none;
}
html {
  text-align: center;
}
