<!DOCTYPE html>
<head>
      <title>Z's homepage</title>
<style>
      h1 {
        color: limegreen;
        font-size: 60pt;
      }
      h2 {
        color: darkslategrey;
        font-size: 32pt;
      }
      h3 {
        color: purple;
        font-size: 26pt;
      }
    h4 {
text-align: center;
font-size: calc(12 + 4 vm);
}
</style>
</head>
